/* Generic Rules */

.background-main {
  background-color: beige;
}

.background-secondary {
  background-color: aqua;
}

.text-color-main {
  color: black;
}

.text-color-secondary {
  color: aquamarine;
}

/* grid */

.container {
  display: block;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  width: 100%;
}
